:root {
  font-size: 22px;
}

header {
  height: 100vh;
  /*background-image: url(../img/website_background_16_9.jpg);*/
  background-image: url(../img/website_background_16_9_yellow.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  text-align: center;
  overflow: hidden;
}

.content {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  /* padding: 5px;
  height: 20px;
  margin: 30px; */
  margin: 0 0 1vh 0; 
  color: white;
  text-align: center;
}

.kicker {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: 5px;
  height: 20px;
  margin: 10px;
  color: white;
  text-align: center;
}

.icon {
  font-size: 1rem;
  padding: 5px;
  height: 20px;
  color: white;
  text-align: center;
  background-color: black;
}

span {
  /*color: #ff8c00;*/
  color: white;
}

/*
.icon {
	font-size: 2em;
	background-color: black;
	padding: 5px;
  color: white;
}*/

.photo-credit {
  font-size: 0.5rem;
  position: fixed;
  bottom:0%;
  width:100%;
}

a {
  color: #F89433;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  /*color: #F5A75B*/
  color: #F2AF6D;
}
/***********     Media queries     ***********/

@media(max-width: 800px) {
  :root {
    font-size: 18px;
  }

  .header {
    margin: 18px
  }
}

@media(max-width: 615px) {
  :root {
    font-size: 16px;
  }

  .header {
    margin: 20px;
  }
}

@media(max-width: 510px) {
  header {
    /*background-image: url(../img/background_image_mobile.jpg);*/
    background-image: url(../img/background_image_mobile_yellow.jpg);
  }
}
